.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: #919191;
    border-radius: 8px;
    padding: .5rem;
}

.resgisterForm input, h1, label, button{
    padding: .5em;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.resgisterForm input {
    width: 50%;
}

.btnRegister, .btnList {
    border-radius: 16px;
    border: none;
    text-decoration: none;
    text-decoration-style: none;
}

.btnRegister:hover, .btnList:hover {
    background-color: #062103;
    color: #ffffff;
}

.btnList {
    margin-top: .5rem;
}
